# --- SESSION CONFIG ---
SESSION_ID=null
QR=true
BOT_NUM=null

# --- BOT SETTINGS ---
PREFIX=.
BOT_MODE=private
BOT_LANG=en
TIMEZONE=Asia/Kolkata

# --- AUTOMATION ---
AUTO_READ=false
AUTO_STATUS_READ=false
ALWAYS_ONLINE=false

# --- CUSTOMIZATION ---
REACT=⌛
STICKER_PACK=manji • •,• 💗
WARN=3
SUDO=null
ADMIN_VALUE=false