SESSION=null
PREFIX=.
REACT=⌛
STICKER_PACK=manji,𝐕𝐈𝐍𝐒𝐌𝐎𝐊𝐄
BOT_MODE=private
SUDO=null
QR=true
BOT_NUM=null
WARN=2
TIMEZONE=Asia/Kolkata
BOT_LANG=en
AUTO_READ=false
AUTO_STATUS_READ=false
ALWAYS_ONLINE=false